<h1> Welcome <%= current_user.username %></h1>


<h1>Current Blog Post</h1>


<div class="row">
	<% @blog_posts.each do |blog_post| %>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to blog_post.title, blog_post_path(id: blog_post.id) %>
			</div>
			<div class="panel-body">
			 by <em><%=link_to blog_post.user.username, blog_post_url(id: blog_post.user.username) %></em><br>
			  <p><%= time_ago_in_words(blog_post.created_at) %> ago</p>
			   <p> <%= blog_post.blog_entry[0...150].html_safe %> .. <%= link_to "Read more", blog_post %></p>
			</div>
			<% if current_user.id == blog_post.user_id %>
			<div class="panel-footer">
			
				<%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
				<%= link_to "Destroy", blog_post_path(blog_post), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-danger" %>
		     </div>
		     <% end %>
		  </div>
	   </div>
	<% end %>
</div>

<%= paginate @blog_posts %>

