<h1> All Posts By <%= user.username %></h1>

<% @user.blog_posts.each do |blog_post| %>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h3><%= link_to blog_post.title, blog_post %></h3>
				<p><em> posted on <%= blog_post.created_at.strftime("%m/%d/%y at %l:%M%P") %></em></p>
				<p><%= blog_posts.blog_entry.html_safe %></p>
				<p>
					<%= link_to 'Show', blog_post, class "btn btn-info" %>
					<% if current_user.id == blog_post.user_id %>

					<p><%= link_to 'Edit', edit_blog_post_path(blog_post), class "btn btn-warning" %>
					<%= link_to 'Destroy', blog_post, method: :delete, data: {confirm: 'Are you sure?' }, class "btn btn-danger"%>
				</p>
			  <% end %>
			</div>
		</div>
	</div>


	<% end %>